<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bgColor">
        <a class="navbar-brand" href="#">Leave Management</a>
        <div class="toolbar" role="banner">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="dashboard" routerLinkActive="active-link"
                  [routerLinkActive]="['is-active']">DashBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="employees" routerLinkActive="active-link"
                  [routerLinkActive]="['is-active']">Employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="leave" routerLinkActive="active-link"
                  [routerLinkActive]="['is-active']">Leave Request</a>
              </li>
            </ul>
          </div>
          <div class="spacer"></div>
        </div>
      </nav>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" [routerLinkActive]="['is-active']"> DashBoard </a>
      <a mat-list-item routerLink="employees" [routerLinkActive]="['is-active']">Employee</a>
      <a mat-list-item routerLink="leave" [routerLinkActive]="['is-active']"> Leave Request</a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>