<div class="modal-header" *ngIf="title!=''">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>Leave Type:</td>
            <td>{{msg.meta?.event.eventType}}</td>
        </tr>
        <tr>
            <td>Employee Name:</td>
            <td>{{msg.meta?.event.employeeName}}</td>
        </tr>
        <tr>
            <td>Leave Start Date:</td>
            <td>
                <div *ngIf="isEditable==true">{{msg.meta?.event.startDate}}</div>
                <div *ngIf="isEditable!=true">
                    <input type="text" [(ngModel)]="startDate" name="startDate" placeholder="Start Date"
                        class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
                        onkeydown="return false" autocomplete="off" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>Leave End Date:</td>
            <td>
                <div *ngIf="isEditable==true">{{msg.meta?.event.endDate}}</div>
                <div *ngIf="isEditable!=true">
                    <input type="text" [(ngModel)]="endDate" name="endDate" placeholder="End Date" class="form-control"
                        bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" [minDate]="startDate | stringTodate" onkeydown="return false"
                        autocomplete="off" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{msg.title}}</td>
        </tr>
    </table>

</div>

<div class="modal-footer">
    <button type="button" *ngIf="displayAddBtn == true" class="btn btn-primary"
        (click)="confirmOkClick($event, 'OK')">OK</button>
    <button type="button" *ngIf="displayAddBtn == false" class="btn btn-primary"
        (click)="confirmEditClick($event, 'EDIT')">{{confirmLabel}}</button>
    <button type="button" *ngIf="displayAddBtn == false" class="btn btn-primary"
        (click)="confirmClick($event)">{{cancelLabel}}</button>
</div>