<div class="row">
    <form name="form" novalidate (ngSubmit)="empForm.form.valid && onSubmit()" #empForm="ngForm"
        class="mx-auto col-md-7 offset-md-2 form-box md-outline">
        <h4 class=" mb-3 form-title" style="font: revert; font-size: large; margin-top: 8px;"> Employee Registration
        </h4>
        <div class="form-group row">
            <label for="firstName" class="col-sm-3 col-form-label">Name&nbsp;<span class="text-danger">* </span></label>
            <div class="col-sm-3">
                <input type="text" id="firstName" class="form-control" placeholder="First Name" name="firstName"
                    [(ngModel)]="employee.firstName" required #firstName="ngModel"
                    [ngClass]="{ 'is-invalid': empForm.submitted && firstName.invalid }" minlength="2"
                    maxlength="100" />
                <div *ngIf="empForm.submitted && firstName.errors" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                    <div *ngIf="firstName.errors.minlength">First Name must be at least 2 characters</div>
                </div>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="employee.lastName"
                    name="lastName" required #lastName="ngModel"
                    [ngClass]="{ 'is-invalid': empForm.submitted && lastName.invalid }" minlength="2" maxlength="100" />
                <div *ngIf="empForm.submitted && lastName.errors" class="invalid-feedback">
                    <div *ngIf="lastName.errors.required">Last Name is required</div>
                    <div *ngIf="lastName.errors.minlength">Last Name must be at least 2 characters</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNumber" class="col-sm-3 col-form-label">Phone No.&nbsp;<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="number" name="phoneNo" [(ngModel)]="employee.phoneNo" class="form-control"
                    placeholder="Phone Number" required #phoneNo="ngModel"
                    [ngClass]="{ 'is-invalid': empForm.submitted && phoneNo.invalid }" minlength="2" maxlength="10" />
                <div *ngIf="empForm.submitted && phoneNo.errors" class="invalid-feedback">
                    <div *ngIf="phoneNo.errors.required">Phone Number is required</div>
                    <div *ngIf="phoneNo.errors.minlength">Phone Number must be at least of 10 digits</div>
                    <div *ngIf="phoneNo.errors.maxlength">Phone Number cant be more than 10 digits</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email&nbsp;<span class="text-danger"></span></label>
            <div class="col-sm-9">
                <input type="email" name="emailId" [(ngModel)]="employee.emailId" class="form-control"
                    placeholder="Email" />
            </div>
        </div>

        <button mat-raised-button color="primary" class="mt-3" type="submit">Submit </button>
    </form>
</div>